body {
  background-color: #FFFDFD;
  color: #9C914F;
  font-size: 18px;
  font-family: 'noto sans', sans-serif;
  margin: 0px;
}

h1 {
  margin: 0px;
}

.photo-index-about {
  border: 5px  black;
  height: 460px;
  background-color: #eeebf0;
}

#photo {
  float: left;
  padding: 0px 10px 10px 10px;
  width: 450px;
  background: #9C914F;
  margin-right: 10px;
  border-radius: 0px 0px 10px 0px;
}

#index {
  text-align: right;
  font-size: 25px;
  font-weight: 600;
  margin-right: 10px;
  float: right;
  margin-top: 20px;
}

#index ul li {
  line-height: 5px;
  list-style: circle inside;
  /*direction: rtl;*/
}

#about {
  position: relative;
  height: 180px;
  padding: 10px;
}

.name {
  background-color: #9C914F;
  color: #FFFDFD;
  /*padding: 0px 10px;*/
  font-size: 30px;
  line-height: 100px;
  margin-top: 0%;
  text-align: center;
}

#skills ul li:nth-child(odd) {
  list-style: circle;
}


h2 {
  color: #615756;
}

h3 {
  color: #615756;
}

a {
  text-decoration: none;
  color: #615756;
  text-align: right;
}

.highlight {
  font-weight: 600;
  color:#615756;
}